@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');

.headingcontent{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -8px;
    line-height: 1;
}

.headingcontent1{
    font-family: "Krona One", sans-serif;
    font-weight: 400;
    font-style: normal;
    letter-spacing: -5px;
    line-height: 1;
}
    