:root {
  /* cursor: none; */
  scroll-behavior: smooth;
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(208, 230, 235, 0.5); /* Translucent white */
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 10px rgba(0, 145, 255, 0.8);
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out, opacity 0.2s ease-out;
  z-index: 9999;
}

.cursor.hidden {
  opacity: 0;
}

.cursor.click {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(255, 255, 255, 1);
}

.bgc > div {
  width: fit-content !important;
  height: fit-content !important;
}
.bgc {
  width: max-content !important;
}

canvas {
  margin: 10vh 0;
  height: 80vh !important;
  width: 50vw !important;
}

@media (max-width: 640px) {
  .cursor {
    display: none;
  }
}
@media (max-width: 1024px) {
  canvas {
    margin: 30vh 0;
    height: 40vh !important;
    width: 90vw !important;
  }
  .mobile {
    height: 90vh !important;
    margin: 5vh 0 !important;
  }
}

@media (max-width: 810px) {
  canvas {
    margin: 30vh 0;
    height: 40vh !important;
    width: 95vw !important;
  }
  .mobile {
    height: 90vh !important;
    margin: 5vh 0 !important;
  }
}

@media (max-width: 432px) {
  canvas {
    margin: 30vh 0;
    height: 40vh !important;
    width: 95vw !important;
  }
  .mobile {
    height: 95vh !important;
    margin: 2.5vh 0 !important;
  }
}
