:root {
  cursor: none;
}
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: rgba(208, 230, 235, 0.5); /* Translucent white */
  border-radius: 50%;
  pointer-events: none;
  box-shadow: 0 0 10px rgba(0, 145, 255, 0.8);
  transform: translate(-50%, -50%);
  transition: transform 0.1s ease-out, opacity 0.2s ease-out;
  z-index: 9999; /* Make sure it stays on top */
}

.cursor.hidden {
  opacity: 0;
}

.cursor.click {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(255, 255, 255, 1);
}
